/*  smart phones & tablets*/
@media (min-width: 0px) and (max-width: 575px)
{
 *{
  box-sizing: border-box;
  font-family: cursive;
  margin: 0px;
  padding: 0px;

}
@font-face {
  font-family: Scriptina;
  src: url(SCRIPTIN.ttf);
  font-size: 2erm;
}

  /*sheba */

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #745dba;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top:45px;
      left: 165px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .cover {
    width: 100%;
    height:  auto;
    background-color: #745dba;
  }

  .clients {
    height: auto;
  }
  .clients-content {
    font-size: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
  }
  .flip-card {
    padding: 10px;
    margin: 10px;
  }
  .flip-card-back {
    height: auto;
  }

  /*end sheba*/
  .dropdown {
    display: block;

}
  /*enas*/
  .makeflex {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .display2 {
    padding: 20px;
    height: auto;
    width: 100%;
    background-color: #e8e4f4;
    margin-top: 30px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: auto;
}
.gradient{
  margin-top: 30px;
}
.display {
    height: auto;
    width: 100%;
    background-color: #e8e4f4;
}
  .description {
    width: 70%;
    margin: 1rem auto;
    font-size: 1rem;
  }
  .flex-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e8e4f4;
      margin: 10px;
      flex-direction: column;
  }
  .flex-container > div {
    background-color: #745dba;
    color: white;
    width: 130px;
    height: auto;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}
  button {
      /* padding-bottom: 30px; */
      padding-top: 0px;
      width: 100%;
      height: 50px;
      font-size: 1rem;
  }

}
/*in b3 this sizesfrom 0 _767 xs  but b4 its small screen first problem   749, 767 768 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*677-557*/
@media (min-width: 576px) and (max-width: 767px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #745dba;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top:45px;
      left: 165px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .dropdown {
    display: block;

}
  .cover {
      width: 100%;
      height: auto;
      background-color: #745dba;
  }
  .makeflex {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e4f4;
    margin: 10px;
    flex-direction: column;
}
.flex-container > div {
    background-color: #745dba;
    color: white;
    width: 145px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    width: 260px;
    height: auto;
}
.flex-container > div:hover {
    background-color: #745dba;
    color: white;
    width: 156px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}

/*mediam screen has problem from size 768_772  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 768px) and (max-width: 991px) {
  /*sheba*/
  .grid- {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-bottom: 6rem;
  }
  /* end sheba*/
  .cover {
    width: 100%;
    height: auto;
    background-color: #745dba;
}
.display, .display2 h3, .display2 h2 {
    text-align: center;
    padding-top: 0px;
    margin-top: 10px;
    height: auto;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e8e4f4;
    margin: 15px;
    flex-direction: row;
}
.flex-container > div {
    background-color: #745dba;
    color: white;
    width: 156px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    height: auto;
}
.flex-container > div:hover {
    background-color: #745dba;
    color: white;
    width: 156px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

}

/*larg screen*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*xlarge screen*/
@media (min-width: 1200px) {
}
